ConsoleApp4/ConsoleAppClient/Connected Services/ServiceReference1/www.khita.cn.samples.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.khita.cn.samples" elementFormDefault="qualified" targetNamespace="http://www.khita.cn.samples" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="UnLockWinStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="other" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnLockWinStationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>